.DS_Store
build.log
build
npm-debug.log
tmp
.idea
.svn
*.sublime-workspace
.Trashes
.Spotlight-V100
*.apk
*.ap_
node_modules
/i18n
/.settings
/platform

.settings/com.appcelerator.titanium.mobile.prefs
Resources
Resources/*
