<Alloy>
    <Window module="xp.ui" id="index" onClose="onClose" onOpen="onOpen">
        <LeftNavButton platform="ios" formFactor="handheld">
            <Button class="reportChooserButton" onClick="toggleReportChooserVisibility"/>
        </LeftNavButton>
        <LeftNavButton platform="ios" formFactor="tablet">
            <Button class="fakeButtonThatHidesBackButton"/>
        </LeftNavButton>

        <Widget src="org.piwik.headerbar"
                id="headerBar"
                onHomeItemSelected="toggleReportChooserVisibility"
                formFactor="handheld"
                platform="android" />

        <Widget src="org.piwik.headerbar"
                id="headerBar"
                formFactor="tablet"
                platform="android" />

        <ListView id="settingsTable" onItemclick="onItemClick">
            <Templates platform="android">
                <ItemTemplate name="settingsTemplate">
                    <Label bindId="title" class="titleLabel" id="settingsLabel"/>
                    <Label bindId="subtitle" id="settingsValue"/>
                </ItemTemplate>
                <ItemTemplate name="checkedTemplate">
                    <Label bindId="title" class="titleLabel" id="checkedLabel"/>
                    <ImageView id="checkedIcon"/>
                </ItemTemplate>
                <ItemTemplate name="uncheckedTemplate">
                    <Label bindId="title" class="titleLabel" id="uncheckedLabel"/>
                    <ImageView id="uncheckedIcon"/>
                </ItemTemplate>
            </Templates>
            <ListSection id="basic">
                <ListItem id="language" callback="changeLanguage"/>
                <ListItem id="reportDate" callback="changeReportDate"/>
                <ListItem id="validateSsl" callback="toggleValidateSsl"/>
                <ListItem id="graphs" callback="toggleGraphsEnabled"/>
            </ListSection>
            <ListSection id="advanced">
                <ListItem id="timeout" callback="changeHttpTimeout"/>
            </ListSection>
        </ListView>
    </Window>
</Alloy>
