<Alloy>
    <Window module="xp.ui" id="index" onClose="onClose" onOpen="onOpen">
        <LeftNavButton  formFactor="handheld">
            <Button class="reportChooserButton" onClick="toggleReportChooserVisibility"/>
        </LeftNavButton>
        <LeftNavButton  formFactor="tablet">
            <Button class="fakeButtonThatHidesBackButton"/>
        </LeftNavButton>

        <ListView id="settingsTable" onItemclick="onItemClick">
            <ListSection id="basic">
                <ListItem id="language" callback="changeLanguage"/>
                <ListItem id="reportDate" callback="changeReportDate"/>
                <ListItem id="validateSsl" callback="toggleValidateSsl"/>
                <ListItem id="graphs" callback="toggleGraphsEnabled"/>
            </ListSection>
            <ListSection id="advanced">
                <ListItem id="timeout" callback="changeHttpTimeout"/>
            </ListSection>
        </ListView>
    </Window>
</Alloy>
