<Alloy>
    <Window id="index" onClose="onClose">
        <LeftNavButton platform="mobileweb" formFactor="handheld">
            <Button class="toggleMenuButton" onClick="toggleReportMenu"/>
        </LeftNavButton>
        <LeftNavButton platform="ios" formFactor="handheld">
            <Button class="toggleMenuButton" onClick="toggleReportMenu"/>
        </LeftNavButton>
        
        <TableView id="settingsTable">
            <TableViewRow id="language" onClick="doChangeLanguage"/>
            <TableViewRow id="tracking" onClick="toggleTrackingEnabled"/>
            <TableViewRow id="graphs" onClick="toggleGraphsEnabled"/>
            <TableViewSection id="advanced"/>
            <TableViewRow id="timeout" onClick="doChangeHttpTimeout"/>
            <TableViewSection id="help"/>
            <TableViewRow id="about" onClick="doOpenAboutPiwikMobile"/>
            <TableViewRow id="feedback" onClick="doOpenGiveFeedback"/>
            <TableViewRow id="faq" onClick="doOpenFaq"/>
        </TableView>
    </Window>
</Alloy>